.color-success {
    padding: 10px;
    border-radius: 5px;
    background: #1BAEBA;
    color: white;
    text-align: left;
    margin: 0 -15px;
}

.color-error {
    padding: 10px;
    border-radius: 5px;
    background: red;
    color: white;
    text-align: left;
    margin: 0 -15px;
}

.red-text {
    color: red;
    text-align: left;
}

.text-left {
    text-align: left;
    padding-left: 50px !important;
}

.padding-4 dt, .padding-4 dd {
    padding: 4px !important;
}

.padding-left-28 {
    padding-left: 28px !important;
}

.custom-input-password {
    padding: 8px !important;
    border: solid 1px #ddd !important;
    vertical-align: middle !important;
}

.custom-text-validate {
    overflow: visible;
    white-space: nowrap;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}

