@charset "UTF-8";
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+
+　タイトル : ページ共有のスタイル
+　ファイル名 : ファイルのパスを入れます。(ルート、相対どちらでも)
+　概要 : CSSの用途を説明を入れます。
+　サイト名 : サイトの説明を入れます。
+　URL : http://
+
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* --------------------------------------------------------------------------------------
 基本設定
--------------------------------------------------------------------------------------- */
body {
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height: 1.5;
    font-size: 90%;
}

input, textarea, select {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

* html table {
    font-size: 100%;
    line-height: 1.5;
}

body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, p, blockquote, pre, cite, code, caption, form, fieldset, legend, input, textarea, select, option, label {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

body.index {
    background: #f0f4f4;
}

img, table {
    border: none;
}

table {
    border-collapse: collapse;
}

ul {
    list-style: none;
}

li img, dt img {
    vertical-align: bottom;
}

address, em, cite {
    font-style: normal;
}

a {
    overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

hr {
    margin: 15px 0;
    border-top: 1px solid #9db0b9;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    border: solid 1px #ddd;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .sp-100w {
        width: 100%;
        height: auto;
    }

    select {
        border: solid 1px #ccc;
        width: 100%;
        padding: .3em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
    }
}

/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: .1em;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* --------------------------------------------------------------------------------------
 レイアウト枠
--------------------------------------------------------------------------------------- */
#wrap {
    width: 100%;
    min-width: 1070px;
}

#ctArea {
    width: 100%;
    padding: 0 0 80px;
    text-align: center;
}

#ctAreaInner {
    width: 1000px; /*margin:-50px auto 0 auto;*/
    padding: 59px 40px 79px 40px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #fff;
}

.bukkenDetailCt {
    width: 1000px;
    padding: 32px !important;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
}

.page-head {
    position: relative;
}

.page-head .right {
    position: absolute;
    right: 0;
    top: 15px;
}

.page-head h3 {
    font-size: 1.6rem;
    color: #696969;
}

.page-head .btn-group {
    position: absolute;
    right: 0;
    top: 0;
}

.page-head .btn-group .btn {
    display: inline-block;
    vertical-align: middle;
}

.page-head .btn-group .btn a {
    background-color: #666
}

#ctLeft {
    float: left;
    width: 200px;
    background: #a4cc5d;
}

#ctRight {
    float: right;
    width: 690px;
    background: #a4cc5d;
}

.t-center {
    text-align: center
}

.t-left {
    text-align: left
}

.t-right {
    text-align: right
}

.bold {
    font-weight: bold
}

.f1_3 {
    font-size: 1.3rem;
}

.f1_5 {
    font-size: 1.5rem;
}

dl.lineup {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

dl.lineup dt, dl.lineup dd {
    padding: 10px 5px;
    box-sizing: border-box
}

dl.lineup dt {
    width: 35%;
    text-align: right;
}

dl.lineup dd {
    width: 65%;
}

.passwdBox {
    background-color: #fff;
    width: 1000px;
    padding: 40px;
    border: 1px solid #ddd;
    margin: 20px auto;
    box-sizing: border-box
}

.passwd {
    width: 320px;
}

.moveList ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.moveList ul li {
    padding: 10px;
}

.moveList ul li:last-of-type {
    margin-left: auto;
}

.imout {
    width: 30px;
    position: relative;
    margin-top: 9px;
}

.icon-move {
    color: #000;
    cursor: pointer;
    position: absolute;
    margin-left: 2px;
    margin-top: 10px;
    width: 17px;
    height: 1px;
    background-color: currentColor;
}

.icon-move:before, .icon-move:after {
    content: '';
    position: absolute;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: currentColor;
}

.icon-move:before {
    top: -5px;
}

.icon-move:after {
    top: 5px;
}

td .imout, td .icon-move {
    margin-top: 0
}

.mb10 {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #wrap {
        min-width: 94%;
        width: 94%;
        margin: 0 auto;
    }

    div#ctArea {
        padding-bottom: 0
    }

    div#ctAreaInner, div.bukkenDetailCt {
        width: 100%;
    }

    .passwdBox {
        width: 94%;
        padding: 5vw;
    }

    .passwd {
        width: 90%
    }

    .page-head .right {
        top: 1px;
    }

    dl.lineup {
        display: block
    }

    dl.lineup dt, dl.lineup dd {
        width: 100%;
        box-sizing: border-box;
        text-align: left
    }

    dl.lineup dt {
        padding-bottom: 0;
    }

    dl.lineup dd {
        padding-top: 5px;
    }

    dl.lineup dd input[type="text"] {
        width: 100%;
    }

    input[type="text"], input[type="email"] {
        border: solid 1px #eee;
    }
}

@media screen and (max-width: 480px) {
}

/* --------------------------------------------------------------------------------------
 ヘッダー
--------------------------------------------------------------------------------------- */
#hd {
    width: 100%;
    text-align: center;
    background: #1BAEBA;
}

#hd .inner {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

#hd .inner h1 {
    float: left;
    margin: 15px 0 0;
}

#hd .inner table {
    float: right;
    margin: 10px 10px 10px 0;
    color: #fff;
}

#hd .inner table td {
    padding: 0 0 0 20px;
    vertical-align: middle;
}

#hd .toggleMenu {
    display: none;
    position: absolute;
    top: 47px;
    right: -35px;
    width: 150px;
    text-align: center;
    z-index: 99;
}

#hd .toggleMenu:after {
    position: absolute;
    top: -4px;
    left: 50%;
    height: 0;
    margin: 0 0 0 -4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
}

div#hd .toggleMenu ul {
    position: relative;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}

div#hd .toggleMenu ul:before {
    position: absolute;
    top: -6px;
    left: 50%;
    height: 0;
    margin: 0 0 0 -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #ccc;
    content: "";
}

div#hd .toggleMenu ul li {
    border-bottom: 1px solid #ccc;
}

div#hd .toggleMenu ul li a {
    display: block;
    padding: 8px 0 8px 0;
    color: #444;
    text-decoration: none;
}

div#hd .toggleMenu ul li input {
    width: 100%;
    border: none;
    background: none;
    padding: 8px 0 8px 0;
    color: #444;
    cursor: pointer;
}

div#hd .gnav {
    width: 100%;
    height: 37px;
    background: url(../../management/common/img/bg_gnav.gif) repeat-x left top;
    text-align: center;
}

div#hd .gnav .gnavInner {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

div#hd .gnav .gnavInner li {
    float: left;
}

div#hd .gnav .gnavInner li img {
    vertical-align: top;
}

@media screen and (max-width: 768px) {
    div#hd .inner {
        width: 100%;
    }

    #hd .inner h1 {
        width: 26vw
    }

    #hd .inner table {
        width: 45vw;
    }

    #hd .inner h1 {
        position: absolute;
        top: 50%;
        left: 1%;
        margin-top: -19px;
    }

    #hd .inner h1 img {
        width: 100%;
    }

    #hd .inner table {
        margin-right: 7vw
    }

    #hd .inner table td {
        padding: 0
    }

    #hd .toggleMenu {
        right: 1vw;
        top: 55px;
    }

    #hd .toggleMenu:after {
        left: 70%
    }

    div#hd .toggleMenu ul:before {
        left: 70%
    }
}

@media screen and (max-width: 480px) {
    #hd .inner h1 {
        width: 45vw;
    }
}

/* --------------------------------------------------------------------------------------
 基本ボタン
--------------------------------------------------------------------------------------- */
/* ログイン */
.btn-basis a {
    background: #1c9fdd !important;
}

input.goLogin {
    width: 127px;
    height: 35px;
    padding: 0;
    border-radius: 2px;
    border: none;
    background: #1BAEBA;
    -webkit-appearance: none;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
}

input.newEdit, input.selectAll, input.csvDl, input.goEdit, input.goTrash {
    padding: 0 !important;
    border-radius: 2px;
    border: none !important;
    -webkit-appearance: none;
    vertical-align: middle;
    color: #fff;
}

/* 新規作成 */
input.newEdit {
    width: 127px;
    height: 33px;
    background: #1c9fdd;
    font-size: 16px;
}

/* 全選択 */
input.selectAll {
    width: 107px;
    height: 32px;
    background: #1c9fdc;
    font-size: 14px;
    vertical-align: middle;
}

/* CSVダウンロード */
input.csvDl {
    width: 322px;
    height: 31px;
    background: #f56b17;
    font-size: 12px;
}

/* 編集 */
input.goEdit, input.goTrash {
    width: 67px;
    height: 24px;
    background: #1c9fdc;
    font-size: 12px;
    cursor: pointer;
}

/* 削除 */
input.goTrash {
    background: #555;
}

a.goTrash, a.goCalendar, .inner02 a.goEdit, .inner02 a.csvDl, .btn_box a.goEdit, a.addRow, a.addTemp, a.addLayout, .btn a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: none;
    border-radius: 2px;
    vertical-align: middle;
    text-decoration: none;
}

a.goCalendar, .inner02 a.goEdit, .inner02 a.csvDl, a.addTemp, .btn a {
    padding: 6px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.btn a {
    background: #1c9fdd;
    font-size: 14px;
    min-width: 100px;
}

a.goTrash {
    padding: 6px 12px 5px 11px;
    box-shadow: 0 2px #707070;
    background: #999;
    -webkit-appearance: none;
}

a.goCalendar {
    background: #1c9fdc;
}

/* 物件詳細/変更する */
.inner02 a.goEdit {
    width: 67px;
    background: #1c9fdc;
}

/* 物件詳細/CSVダウンロード */
.inner02 a.csvDl {
    width: 122px;
    background: #ff6600;
}

/* 物件詳細/編集する */
.btn_box a.goEdit, .btn_box a.goPrev {
    width: 200px;
    padding: 7px 0 6px 0;
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.btn_box a.goEdit {
    background: #1c9fdd;
}

.btn_box a.goPrev {
    background: #1BAEBA;
}

/* データ行追加 */
a.addRow {
    background: #1c9fdd;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
}

/* 新規テンプレート追加 */
a.addTemp {
    width: 137px;
    box-shadow: 0 2px #b3b3b3;
    background: #666;
}

/* 間取り登録 */
a.addLayout {
    width: 107px;
    padding: 5px 0 5px 0;
    box-shadow: 0 2px #b3b3b3;
    background: #666;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

input.goCancel, input.goSend, input.goConfirm, input.goPrint, input.goConfig, input.addReserve, input.goDelete {
    padding: 0 !important;
    border-radius: 2px;
    border: none !important;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    -webkit-appearance: none;
}

/* キャンセル */
input.goCancel {
    width: 107px;
    height: 35px;
    background: #999;
    margin-right: 2px;
}

/* この内容で送信 */
input.goSend {
    width: 155px;
    height: 35px;
    background: #1c9fdd;
}

/* 確認画面へ */
input.goConfirm {
    width: 155px;
    height: 35px;
    background: #1c9fdd;
}

input.goPrint, input.goConfig, input.addReserve, input.goDelete {
    height: 29px;
    background: #666;
    font-size: 12px;
    box-shadow: 0 2px #b3b3b3;
}

/* このページを印刷 */
input.goPrint {
    width: 122px;
}

/* 基本設定 */
input.goConfig {
    width: 92px;
}

/* 予約追加 */
input.addReserve {
    width: 67px;
}

/* この予約を削除する */
input.goDelete {
    width: 122px;
    box-shadow: 0 2px #707070;
    background: #999;
}

.btn_icon {
    background: #1BAEBA;
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    width: 32px;
    height: 32px;
}

.btn_icon img {
    width: 100%;
    height: auto
}

@media screen and (max-width: 768px) {
    input.selectAll {
        width: 20vw;
    }
}

@media screen and (max-width: 480px) {
    .btn_box a.goEdit {
        width: 90%;
    }
}

/* --------------------------------------------------------------------------------------
 パンくず
--------------------------------------------------------------------------------------- */
#ctAreaTop {
    padding: 36px 0 130px;
}

.bukkenDetail {
    padding: 36px 0 51px !important;
}

.location {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.location h2 {
    text-align: left;
    font-size: 210%;
    color: #696969;
}

.bukkenEdit {
    margin: 50px 0;
}

.bukkenDetail .location h2, .bukkenEdit .location h2 {
    text-align: center;
}

.location table { /*position:absolute; top:0; right:0;*/
    margin: 4px 0 0;
    z-index: 8;
}

.location table .toggleMenuIco {
    padding: 0 8px;
}

.Return {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 8;
}

.location .toggleMenu {
    display: none;
    position: absolute;
    top: 36px;
    right: -29px;
    width: 100px;
    text-align: center;
    z-index: 9;
}

.location .toggleMenu:after {
    position: absolute;
    top: -4px;
    left: 50%;
    height: 0;
    margin: 0 0 0 -4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
}

.location .toggleMenu p {
    position: relative;
    border: 1px solid #ccc;
    background: #fff;
}

.location .toggleMenu p a {
    display: block;
    padding: 8px 0 8px 0;
    color: #444;
    text-decoration: none;
}

.location .tabNav {
    margin-bottom: -1px;
    padding: 22px 0 0;
}

.location .tabNav ul {
    text-align: left;
    margin-left: 3px;
}

.location .tabNav ul li {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 2px;
    vertical-align: top;
    text-align: center;
    width: 200px;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    font-size: 1.35rem;
}

.location .tabNav ul li a {
    display: block;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    color: #999;
}

.location .tabNav ul li a:hover,
.location .tabNav ul li.active a {
    background: #fff;
    color: #1BAEBA;
}

.location strong {
    font-size: 113%;
}

.location span {
    font-size: 83%;
}

@media screen and (max-width: 768px) {
    #ctAreaTop {
        padding: 10vw 0;
    }

    .location {
        width: 100%;
        max-width: 100%;
    }

    .location h2 {
        font-size: 1.7rem;
    }

    .location table {
        position: static;
        margin-top: 4vw;
    }

    .bukkenEdit {
        margin: 6vw 0;
    }
}

@media screen and (max-width: 480px) {
    .location h2 {
        font-size: 1.3rem;
    }
}

/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */
div#ft {
    padding: 50px;
    margin: 20px 0 0 0;
    background: #a4cc5d;
}

/* --------------------------------------------------------------------------------------
 隙間
--------------------------------------------------------------------------------------- */
.mgb20 {
    margin-bottom: 20px;
}

.mgt20 {
    margin-top: 20px;
}

.pgb20 {
    padding-bottom: 20px;
}

/* --------------------------------------------------------------------------------------
 hover
--------------------------------------------------------------------------------------- */
/* img------------------------------*/
a:hover .hover_img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

.hover a:hover, .hover input:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

.red {
    color: #C00;
    font-size: 10px;
}

/* ---------------------------------------
 カレンダー/検索/ページ件数
----------------------------------------- */
.calendar {
    width: 100%;
    text-align: right;
}

.calendar.bottom {
    width: 100%;
    margin: 33px 0;
    text-align: center;
}

.calendar input, .calendar select {
    vertical-align: middle;
    padding: 6px;
    border: 1px #ccc solid;
    border-radius: 2px;
    cursor: pointer;
}

.calendar input[type="button"] {
    padding: 3.5px 6px;
}

.calendar ul {
    display: inline;
    vertical-align: middle;
}

.calendar ul li {
    display: inline;
    padding: 0 5px;
}

.calendar ul li img {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.calendar ul li input#time_from, .calendar ul li input#time_to {
    width: 140px;
}

.Search {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 35px;
}

.Search .Half {
    width: 50%;
}

.Search .Half p span {
    padding-right: 1rem;
}

.Search .Half p input[type="submit"] {
    margin-left: 1rem;
}

.Search.s-sub {
    justify-content: space-between;
}

.page_box {
    text-align: center
}

@media screen and (max-width: 768px) {
    .calendar ul li {
        margin-bottom: 5vw;
        display: block;
        text-align: center;
    }

    .calendar ul li select {
        width: auto;
    }

    .Search {
        display: block;
        margin-bottom: 1vw;
    }

    .Search .Half {
        width: 100%;
        text-align: left;
        margin-bottom: 5vw;
    }

    .Search .Half p span {
        display: block
    }

    .Search .Half p strong input[type="submit"] {
        width: auto;
        padding: 3px 10px !important;
    }

    .Search.s-sub {
        position: relative;
        padding-bottom: 11vw;
    }

    .Search.s-sub .sp-botml {
        position: absolute;
        bottom: 0;
        left: 0
    }

    .Search.s-sub .sp-botmr {
        position: absolute;
        bottom: 0;
        right: 0
    }

    .page_box {
        text-align: left
    }

    .page_box ul {
        display: -webkit-flex;
        display: flex;
    }

    .page_box ul li {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
}

/* ---------------------------------------
 ログイン
----------------------------------------- */
.login_box {
    width: 332px;
    margin: 200px auto 0 auto;
    border: 1px solid #ccc;
    background: #f5f5f5;
}

.login_box h1 {
    padding: 10px 0 0;
    background: #1BAEBA;
    border-bottom: 1px solid #ccc;
}

.login_box .login_form {
    padding: 36px 0 38px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

.login_box table {
    width: 200px;
    margin: 0 auto;
}

.login_box table th {
    padding: 0 17px 10px 0;
    text-align: right;
    vertical-align: middle;
    font-weight: normal;
    color: #696969;
}

.login_box table td {
    padding: 0 0 10px 0;
    vertical-align: middle;
}

.login_box table td input {
    width: 130px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.login_box .btn {
    padding: 12px 0 12px;
    border-top: 1px solid #fff;
}

@media screen and (max-width: 768px) {
    .login_box {
        width: 94%;
        margin: 10vw auto 0 auto
    }
}

/* --------------------------------------------------------------------------------------
 buken_list
--------------------------------------------------------------------------------------- */
.right_txt {
    text-align: right;
    font-size: 83%;
    padding: 0 10px 0 0;
}

.buken_list {
    width: 100%;
}

.buken_list20 {
    margin: 5px 0 15px 0;
    width: 100%;
}

.buken_list th {
    padding: 5px 0 5px 10px;
    border: 1px #bfbfbf solid;
    font-weight: normal;
    text-align: left;
}

.buken_list th input {
    vertical-align: middle;
}

.buken_list td {
    border: 1px #bfbfbf solid;
    padding: 5px 0 3px 10px;
}

.buken_list td.right {
    padding: 5px 0 3px 0;
    text-align: right;
    width: 30%;
    border: none;
}

.buken_list td.right input {
    display: none;
}

.buken_list td textarea {
    width: 400px;
}

.upload_table1 th {
    padding: 5px 0 3px 10px;
    font-weight: normal;
    text-align: left;
}

.upload_table1 td {
    padding: 5px 25px 10px 10px;
}

.upload_table1 td p {
    margin: 0 0 3px 0;
}

.buken_list02 {
    width: 100%;
    margin: 15px 0 15px 0;
    border: 1px #d0d0d0 solid;
    background: #fff;
    color: #696969;
}

.buken_list02 tr:nth-child(2n+1) {
    background: #fff;
}

.buken_list02 tr:nth-child(2n) {
    background: #f5f5f5;
}

.buken_list02 th {
    padding: 15px 10px;
    border-top: 1px #d0d0d0 solid;
    border-left: 1px #eee solid;
    font-weight: normal;
    text-align: center;
}

.buken_list02 th:first-child {
    border-left: 1px #d0d0d0 solid;
}

.buken_list02 th:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list02 td {
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
    padding: 4px 10px;
    text-align: center;
}

.buken_list02 td:first-child {
    border-left: 1px #d0d0d0 solid;
}

.buken_list02 td:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list02 tr:last-child td {
    border-bottom: 1px #d0d0d0 solid;
}

.buken_list02 td.right {
    padding: 5px 0 3px 0;
    text-align: right;
    border: none;
}

.buken_list03 {
    width: 100%;
    border: 1px #d0d0d0 solid;
    background: #fff;
    color: #696969;
}

.buken_list03 tr:nth-child(2n+1) {
    background: #fff;
}

.buken_list03 tr:nth-child(2n) {
    background: #f5f5f5;
}

.buken_list03 th {
    padding: 15px 10px;
    border-top: 1px #d0d0d0 solid;
    border-left: 1px #eeeeee solid;
    font-weight: normal;
}

.buken_list03 th:first-child {
    border-left: 1px #d0d0d0 solid;
    text-align: center;
}

.buken_list03 th:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list03 td {
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
    padding: 4px 10px;
    word-break: break-all;
}

.buken_list03 td:first-child {
    border-left: 1px #d0d0d0 solid;
    text-align: center;
}

.buken_list03 td:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list03 tr:last-child td {
    border-bottom: 1px #d0d0d0 solid;
}

.buken_list03 td.right {
    padding: 5px 0 3px 0;
    text-align: right;
    border: none;
}

.buken_list04 {
    width: 100%;
    border: 1px #d0d0d0 solid;
    background: #fff;
    color: #696969;
}

.buken_list04 tr:nth-child(2n+1) {
    background: #fff;
}

.buken_list04 tr:nth-child(2n) {
    background: #f5f5f5;
}

.buken_list04 th {
    padding: 15px 10px;
    border-top: 1px #d0d0d0 solid;
    border-left: 1px #eee solid;
    font-weight: normal;
}

.buken_list04 th:first-child {
    border-left: 1px #d0d0d0 solid;
}

.buken_list04 th:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list04 td {
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
    padding: 4px 10px;
    word-break: break-all;
}

.buken_list04 td:first-child {
    border-left: 1px #d0d0d0 solid;
}

.buken_list04 td:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list04 tr:last-child td {
    border-bottom: 1px #d0d0d0 solid;
}

.buken_list04 td tr {
    background: none !important;
}

.buken_list04 td td {
    border: none !important;
    padding: 0 10px 5px 0;
    vertical-align: top;
}

.buken_list04 td.right {
    padding: 5px 0 3px 0;
    text-align: right;
    border: none;
}

.buken_list05 {
    width: 100%;
}

.buken_list06 {
    width: 100%;
    margin: 0 0 10px 0;
    border: 1px #d0d0d0 solid;
    background: #fff;
    color: #696969;
}

.buken_list06 tr:nth-child(2n+1) {
    background: #fff;
}

.buken_list06 tr:nth-child(2n) {
    background: #f5f5f5;
}

.buken_list06 th {
    padding: 15px 10px;
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
    font-weight: normal;
    text-align: center;
}

.buken_list06 th:first-child {
    border-left: 1px #d0d0d0 solid;
}

.buken_list06 th:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list06 td {
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
    padding: 4px 10px;
    text-align: center;
}

.buken_list06 td:first-child {
    border-left: 1px #d0d0d0 solid;
}

.buken_list06 td:first-child th {
    border-top: 1px #d0d0d0 solid;
}

.buken_list06 td:last-child {
    border-right: 1px #d0d0d0 solid;
}

.buken_list06 tr:last-child td {
    border-bottom: 1px #d0d0d0 solid;
}

#list_form td input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 2px;
}

#list_form td select {
    border: 1px solid #ccc;
    border-radius: 2px;
}

#list_form td textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.w696h56 {
    width: 690px;
    height: 56px;
}

@media screen and (max-width: 768px) {
    .buken_list td.right {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 480px) {
}

/* --------------------------------------------------------------------------------------
 form_list
--------------------------------------------------------------------------------------- */
.form_list {
    border-top: 1px #bfbfbf solid;
    margin: 10px 0 0 0;
    width: 100%;
}

.form_list tr:nth-child(2n+1) {
    background: #f5f5f5;
}

.form_list tr:nth-child(2n) {
    background: #fff;
}

.form_list th {
    padding: 5px 0 5px 21px;
    border-bottom: 1px #bfbfbf solid;
    font-weight: normal;
    text-align: left;
}

.form_list th input {
    vertical-align: middle;
}

.form_list td {
    border-bottom: 1px #bfbfbf solid;
    padding: 11px 0 11px 0;
    text-align: left;
}

.form_list td:last-child {
    text-align: right;
    padding-right: 10px
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em;
    left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9 !important;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: #000;
}

input[type="radio"] + label:focus:before,
input[type="radio"] + label:hover:before,
input[type="radio"] + label:active:before,
input[type="radio"]:checked + label:before {
    border-color: #1BAEBA !important;
    background: #fff;
}

input[type="radio"] + label {
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    overflow: hidden;
    padding: 1em 1em 1em 3em;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

input[type="radio"] + label:before {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 10px;
    height: 10px;
    content: '';
    border: 0.2em solid #ccc;
    border-radius: 50%;
}

input[type="radio"]:checked + label:before {
    border-color: #1BAEBA;
    background: #1BAEBA;
}

input[type="radio"]:disabled + label {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.5);
    background: #efefef;
}

input[type="radio"]:disabled + label:hover {
    border-color: rgba(0, 0, 0, 0.1);
}

input[type="radio"]:disabled + label:before {
    border-color: #fff;
    background: #fff;
}

@media screen and (max-width: 768px) {
    .form_list th, .form_list td {
        display: block;
        width: 100%;
        box-sizing: border-box
    }

    .form_list td {
        text-align: center
    }

    .form_list th, .form_list th + td {
        border-bottom: none;
    }

    .form_list td:last-child {
        text-align: center
    }
}

/* --------------------------------------------------------------------------------------
 form_box
--------------------------------------------------------------------------------------- */
.form_box {
    margin: 0 auto;
}

.form_box th {
    padding: 0 0 15px 0;
    text-align: right;
    font-weight: normal;
}

.form_box td {
    padding: 0 0 15px 15px;
}

.form_box td input, .form_box td select {
    padding: 6px 5px 6px 5px;
    border: 1px solid #ccc;
}

.w100p {
    width: 100%;
    margin: 0 !important;
}

.w122 {
    width: 122px;
}

.w180 {
    width: 180px;
}

.w222 {
    width: 222px !important;
}

.w322 {
    width: 322px;
}

.w600 {
    width: 600px;
}

td.center {
    padding: 25px 0 0 0;
    text-align: center;
}

/* --------------------------------------------------------------------------------------
 ボーダー
--------------------------------------------------------------------------------------- */
.border_box {
}

.border_box .ttl01 {
    padding: 14px 0;
    border-bottom: 1px solid #eee;
    font-size: 183.3%;
    color: #696969;
    letter-spacing: .1rem;
}

.border_box .ttl02 {
    position: relative;
    margin: 0 10px;
    padding: 4px 10px 7px 10px;
    border-bottom: 1px #bfbfbf solid;
    background: #828282 url(../../management/common/img/bg_ttl2.gif) repeat-x left bottom;
    color: #FFF;
}

.border_box .ttl03 {
    margin: 23px -24px 23px -24px;
    padding: 14px 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 183.3%;
    color: #696969;
}

.border_box .inner {
    padding: 15px 0;
}

.border_box .innerNone {
    padding: 15px 0 40px;
}

.border_box .inner p.txt01 {
    margin: 0 0 0 10px;
}

.border_box .inner input {
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
    box-sizing: border-box
}

.border_box .inner textarea {
    width: 100%;
    border: 1px #ddd solid;
    padding: 9px;
    box-sizing: border-box;
    background-color: #fbfbfb
}

.border_box .inner .w322h100 {
    height: 100px;
    border: 1px #bfbfbf solid;
    width: 98%;
}

.border_box .edit_img {
    margin: 0 0 10px 0;
}

.border_box .text_box01 {
    border: 1px #bfbfbf solid;
}

.text_box02 {
    padding: 0 15px;
}

.text_box02 .form01 {
    margin: 10px 0 20px 0;
}

.text_box02 .form01 td {
    padding: 0 15px 10px 0;
    vertical-align: top;
}

.text_box02 .form01 td input[type="text"] {
    border: none !important;
    border-radius: 2px;
}

.text_box02 .form01 td select {
    border: none !important;
    border-radius: 2px;
}

.border_box .tabMenu {
    margin: 40px 0 0 0;
}

.border_box .tabMenu ul {
    float: left;
    margin: 0 0 0 13px;
    padding: 10px 0 0 0;
    text-align: center;
}

.border_box .tabMenu ul li {
    float: left;
    width: 118px;
    width: 100px;
    margin: 0 7px 0 0;
}

.border_box .tabMenu ul li a {
    display: block;
    padding: 9px 0 8px 0;
    border-radius: 2px 2px 0 0;
    background: #dcdcdc;
    font-size: 14px;
    color: #696969;
    text-decoration: none;
}

.border_box .tabMenu ul li.active a {
    background: #eee;
}

.border_box .tabMenu p {
    float: right;
}

.tabBox .acc02 {
    border-radius: 2px;
    background: #eee;
}

.tabBox .acc02 .acc02_det {
    padding: 44px 15px 106px 24px;
}

.acc01 .btn_box, .acc02 .acc02_det .btn_box, .bb-group {
    text-align: center;
}

.bb-group .btn_box {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.border_box .inner02 {
    padding: 20px 64px 20px 48px;
    border-radius: 2px;
    background: #eee;
    color: #696969;
}

.border_box .buken_list {
    margin: 0 0 24px 0;
}

.border_box .buken_list tr:nth-child(odd) th, .border_box .buken_list tr:nth-child(odd) td, .moveList ul:not(.different):nth-child(odd) {
    background-color: #E8E8E8;
}

.border_box .buken_list tr:nth-child(even) th, .border_box .buken_list tr:nth-child(even) td {
    background-color: #EFEFEF;
}

.border_box .buken_list th {
    padding: 6px 0 6px 5px;
    border: none;
}

.border_box .buken_list td {
    padding: 12px 6px;
    border: none;
    word-break: break-all;
}

.border_box .buken_list td.status {
    padding: 6px 0 6px 5px;
    background: #fff;
    border-radius: 2px;
}

.border_box .buken_list td.btn {
    padding: 0 0 0 5px;
}

.border_box .buken_list td input[type="text"], .border_box .buken_list td input[type="email"], .border_box .buken_list td input[type="tel"] {
    width: 100%;
    padding: 6px;
    background: #fff;
    border: none !important;
    border-radius: 2px;
}

.border_box .buken_list td textarea, .moveList ul li textarea {
    margin: 0 !important;
    border: none !important;
    border-radius: 2px;
}

.border_box .row_detail th input, .moveList ul li input {
    padding: 6px 5px;
    border: none !important;
    border-radius: 2px;
}

.border_box .row_detail td input.p90 {
    width: 90%;
}

.border_box .row_detail td select {
    border: none !important;
    border-radius: 2px;
    margin-right: 5px
}

.border_box .row_detail td img {
    vertical-align: middle;
    display: inline-block;
}

.border_box .row_detail td img:hover {
    opacity: .5;
    cursor: pointer;
}

/*.border_box .inner02 .buken_list05 td {padding:6px 10px 6px 0; vertical-align:top;}
.border_box .inner02 .buken_list05 td textarea {
	width: 100% !important;
	height: 80px;
	border: none;
	border-radius:2px;
}
.border_box .inner02 .buken_list05 td input {
	width: 100% !important;
	border: none;
	border-radius:2px;
}*/
/*.border_box .inner .buken_list06 {width:100%; color:#444;}
.border_box .inner .buken_list06 th {
	padding: 10px 0 10px 5px;
	vertical-align: top;
	font-size: 108.3%;
	font-weight: normal;
}
.border_box .inner .buken_list06 td {padding:10px 0 10px 5px; font-weight:normal;}
.border_box .inner .buken_list06 td textarea {
	width: 100% !important;
	margin: 0 !important;
	border: none;
	border-radius:2px;
}*/
.border_box #reserve_info table {
    width: 100%;
    margin: 10px 0 10px 0;
    background: #fff;
}

.border_box #reserve_info table tr:nth-child(2n+1) {
    background: #fff;
}

.border_box #reserve_info table tr:nth-child(2n) {
    background: #f5f5f5;
}

.border_box #reserve_info table th {
    padding: 4px 10px;
    border-top: 1px #d0d0d0 solid;
    border-left: 1px #eee solid;
}

.border_box #reserve_info table th:first-child {
    border-left: 1px #d0d0d0 solid;
}

.border_box #reserve_info table th:last-child {
    border-right: 1px #d0d0d0 solid;
}

.border_box #reserve_info table td {
    padding: 4px 10px;
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
}

.border_box #reserve_info table td:first-child {
    border-left: 1px #d0d0d0 solid;
}

.border_box #reserve_info table td:last-child {
    border-right: 1px #d0d0d0 solid;
}

.border_box #reserve_info table tr:last-child td {
    border-bottom: 1px #d0d0d0 solid;
}

@media screen and (max-width: 768px) {
    .border_box .inner02 {
        padding: 0;
        background: none;
    }

    .border_box .inner textarea {
        min-height: 30vw
    }

    .border_box .buken_list th, .border_box .buken_list td {
        display: block;
        border-bottom: none;
    }

    .border_box .buken_list th {
        border-top: solid 1px #eee;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) {
    .border_box .inner input {
        margin: 5vw auto;
    }
}

/* calendar helpers
----------------------------------*/
.calendar_nav {
    width: 100%;
    margin: 0 0 10px 0;
    border: 1px #d0d0d0 solid;
    border-collapse: collapse;
    background: #dcdcdc;
}

.calendar_nav td {
    padding: 4px;
}

.calendar_nav a {
    font-size: 14px;
    color: #696969;
    text-decoration: none;
}

.calendar_nav a:hover {
    text-decoration: underline;
}

.calendar_nav a img {
    margin: -2px 4px 0 4px;
    vertical-align: middle;
}

.calendar_nav strong {
    font-size: 16px;
}

.calendar_nav .left {
    text-align: left;
}

.calendar_nav .center {
    text-align: center;
}

.calendar_nav .right {
    text-align: right;
}

.calendar_table {
    width: 100%;
    margin: 0 0 10px 0;
    border: 1px #d0d0d0 solid;
    border-collapse: collapse;
}

.calendar_table th {
    padding: 4px 8px;
    border: 1px #d0d0d0 solid;
    background: #656363;
    font-weight: normal;
    text-align: center;
    color: #fff;
}

.calendar_table td {
    padding: 9px 7px;
    width: 14.285%;
    height: 50px;
    background: #fff;
    border: 1px #d0d0d0 solid;
    vertical-align: top;
    position: relative;
}

.calendar_table td a:link, .calendar_table td a:visited {
    text-decoration: none;
    color: #000;
}

.calendar_table td a:hover, .calendar_table td a:active {
    text-decoration: underline;
    color: #00f;
}

.calendar_table td .icon {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 10px;
    text-align: right;
}

.calendar_table td.red {
    background: #ffe7e7;
    color: #000;
    font-size: 12px;
}

.calendar_table td.red strong {
    color: #f71716;
}

.calendar_table td.blue {
    background: #e7f0fe;
}

.calendar_table td.blue strong {
    color: #1e71f6;
}

.calendar_table td.yellow {
    background: #faf4d8;
}

.calendar_table td.gray {
    background: #dcdcdc;
}

.calendar_table td span {
    display: block;
    text-align: center;
}

.calendar_table td span input {
    margin: 0 4px 0 0;
    vertical-align: middle;
}

/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    zoom: 1;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,Arial,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
 */
/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url(../../management/common/img/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}

.ui-widget-content a {
    color: #222;
}

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc url(../../management/common/img/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222;
    font-weight: bold;
}

.ui-widget-header a {
    color: #222;
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../../management/common/img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada url(../../management/common/img/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #212121;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(../../management/common/img/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}

.ui-widget:active {
    outline: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(../../management/common/img/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(../../management/common/img/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
    background: #aaaaaa url(../../management/common/img/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(../../management/common/img/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/*
 * jQuery UI Datepicker 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0em;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display /**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/* --------------------------
 エラー
----------------------------- */
div.error {
    padding: 14px 0 0;
    color: #ff0000;
}

/* --------------------------
 メッセージ
----------------------------- */
div.msg {
    padding: 14px 0 0;
    color: #0000ff;
}
