.border_box {
    display: none;
}

.text-red {
    font-size: 14px;
    color: red;
    font-weight: 400;
    margin: 100px 0 20px 0;
}

.table_detail {
    border: 1px solid black;
}

.table_detail tr td {
    border: 1px solid black;
}

.table_detail .overview_title {
    font-weight: bold;
}

#preview_error .alert-danger {
    background: #f2dede none repeat scroll 0 0;
    color: #a94442;
}

#preview_error .alert {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 50px auto;
    padding: 15px;
    width: 1100px;
    font-weight: bold;
}